body {
    background-color: green;
    display: flex;
    flex-direction: column;
}
header {
    font-size: 64px;
    text-align: center;
    color: white;
    margin: 0.25em 2em;
}
main {
    background-color: lightgreen;
    border-radius: 2em;
    display: flex;
    flex-basis: 400px;
    width:fit-content;
    flex-direction: column;
    text-align: center;
    margin: auto;
    flex-shrink: 1;
    padding: 1em 2em;
}

h2 {
    font-size: 48px;
    text-align: center;
}

.menuButton {
    background-color: rgb(94, 155, 94);
    border-radius: 0.5em;
    border: 2px solid black;
    text-align: center;
    font-size: 36px;
    margin: 0.5em;
    padding: 10px 15px;
}
.menuButton:hover {
    color: white;
    box-shadow: 0 0.2em 2px -2px black;
    transform: translateY(-2px);
    cursor: pointer;
}
.selectMenu {
    background-color: white;
    border-radius: 0.5em;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    margin: 0.5em;
    padding: 8px 12px;
}
  
#wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: yellow;
    border: 2px solid black;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.options {
    background-color: rgb(181, 238, 181);
    margin: 1em;
    float: left;
    text-align: center;
}

#winner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size:large;
    transform: translateY(50px);
}

#includeTable, #allowMultipleTable {
    float: left;
    margin: 1em;
    border: 2px solid black;
    text-align: left;
}

.spininput {
    display: flex;
    justify-content: space-around;
}

#count {
    width: 40%;
}